
@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&family=Secular+One&display=swap');

.divProductos{
    display: flex;
    margin: 2%;
    padding: 2%;
    flex-flow: row wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 9px;
    background-color: white !important;
}
.producto2{
    padding: 1%;
    height: max-content;
    margin: 5%;
    width: 19%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 9px;
}
img{
    border-radius: 9px;
    width: 90%;
    margin: auto;
    display: block;
}
.producto2 h5{
    text-align: center;
}

.producto2 button{
    margin-left: 50%;
    transform: translateX(-50%);
}

#h2Destacado{
    color: #ff7d00;
    font-size: 3rem;
    border-radius: 5px;
    padding: 10px;
    font-family: "Anek Gujarati", sans-serif;


}